{% extends 'base.html.twig' %}

{% block title %}Cats Lovers!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="./cats.css">
{% endblock %}

{% block body %}
    <h1>Cats Lovers List</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cat's name</th>
            </tr>
        </thead>
        <tbody>
            {% for owner in catOwner %}
            <tr>
                <th scope="row">{{ owner.name}} </th>
                <td>
                {% for cats in owner.catNames %}
                    {{ cats }}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
